<!-- <button id="ActionSubmit">Submit</button> -->

<%= render 'shared/page_title', title: "Order Placement" %>
<br>

<%= form_for(@order, :html => {class: "form-horizontal", role: "form"})do |f| %>
	<div class="form-group">
		<div class="control-label col-md-2">
   			 <%= f.label :ordertype %>
   		</div>
   		<div class="col-md-2">
   			<%= f.select(:ordertype, Order::ORDER_TYPE_LIST, {}, {:class => 'form-control'})  %>
    	</div>

    	<div class="control-label col-md-2">
   			 <%= f.label :totalprice %>
   		</div>
   		<div class="col-md-2">
    		<%= f.text_field :totalprice, class: "form-control" %>
    	</div>
    
    	<div class="control-label col-md-2">
    		<%= f.label :paymentmethod %>
    	</div>
    	<div class="col-md-2">
    		<%= f.select(:paymentmethod, Order::PAYMENT_METHOD_LIST, {}, {:class => 'form-control'})  %>
    	</div>
	</div>
    <br>
<div class="table-users">
   <div class="header">Place the Order</div>
    <table id="tabledata">
        <thead>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Tax(%)</th>
            <th>Discount(%)</th>
            <th>Total</th>
            <th></th>
        </thead>
        <tbody id="input"></tbody>
        <tbody id="template">
        	<tr>
            	<td>
            		<select name="order[order_placed][][itemname]" id="order_place_id" class="form-control delete-comment" style="width: 300px">
						<option value=""></option>
				        <% Item.all.each do |item| %>
				            <option value="<%= item.item_name %>">
				                <%= item.item_name %>
				            </option>
	 						<% end %>
				    </select>
            	</td>
                <!-- <td><input name="order[order_placed][][itemname]" type="text"  size='30' class="form-control"/></td> -->
                <td><input name="order[order_placed][][quantity]" type="text"  size='10' class="form-control" /></td>
                <td><input name="order[order_placed][][unitprice]" type="text"  size='10' class="form-control" /></td>
                <td><input name="order[order_placed][][tax]" type="text"  size='10' class="form-control"/></td>
                <td><input name="order[order_placed][][discount]" type="text"  size='10' class="form-control"/></td>
                <td><input name="order[order_placed][][itemtotalprice]" type="text" size='10' class="form-control" /></td>
                <td>
	                <button type="button" class="btn btn-default btn-sm sub" onClick="$(this).closest('tr').remove();">
					    <span class="glyphicon glyphicon-minus"></span>
					</button>
				</td>
            </tr>
        </tbody>
    </table>
    
</div>
    
<!-- <button id="ActionAddRow" type="button">Add Row</button> -->
<button type="button" class="btn btn-default btn-sm add add-new-select">
          <span class="glyphicon glyphicon-plus"></span>
</button>
    <%= f.submit %>
<% end %>

