<div class="row">
	<div class="col-md-12">
		
		<%= form_for(@item, :html => {class: "form-horizontal", role: "form"}) do |f| %>
			<div class="form-group">
				<div class="control-label col-md-4">
					<%= f.label :item_id, "Item ID:" %>
				</div>
				<div class="col-md-4">
					<%= f.text_field :item_id, class: "form-control", placeholder: "Enter Item ID", autofocus: true %>
				</div>
				<div class="col-md-4">
					<!--<%= f.submit "Search", class: "btn btn-info btn-xlarge" %> -->
   				</div>
			</div>
			<br><hr><br>
			<div class="form-group">
				<div class="control-label col-md-2">
					<%= f.label :item_name, "Item Name:" %>
				</div>
				<div class="col-md-4">
					<%= f.text_field :item_name, class: "form-control", placeholder: "Enter Item Name" %>
				</div>
				<div class="control-label col-md-2">
					<%= f.label :unit_price, "Unit Price:" %>
				</div>
				<div class="col-md-4">
					<%= f.text_field :unit_price, class: "form-control", placeholder: "Enter Unit-Price"%>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-md-2">
					<%= f.label :tax, "Tax (%):" %>
				</div>
				<div class="col-md-4">
					<%= f.text_field :tax, class: "form-control", placeholder: "Tax on this item if any", maxlength: "2"%>
				</div>
				<div class="control-label col-md-2">
					<%= f.label :discount, "Discount (%):" %>
				</div>
				<div class="col-md-4">
					<%= f.text_field :discount, class: "form-control", placeholder: "Discount provided on this item if any", maxlength: "2"%>
				</div>
			</div>
			<div class="form-group">
				<div class="pull-left">
					<p>[<%= link_to "Menu Listings", items_path %>]</p>
				</div>
				<div class="pull-right">
					<p><%= f.submit "Save", class: "btn btn-info btn-xlarge" %></p>
				</div>
			</div>
		<%end%>

	</div>

</div>