<!-- Checking for Error messages if any-->

<% if @product.errors.any? %>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h4>
					<%= pluralize(@product.errors.count,"error") %> stopped this <%= @product.class %> from being saved.
				</h4>
			</div>
			<div class="panel-body">
				<ul>
					<% @product.errors.full_messages.each do |msg| %>
					<li> <%= msg %> </li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
<% end %>

<!-- Rendering Title -->
<%= render 'shared/page_title', title: "Edit Product" %>

<%= render 'form' %>